* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #AEB6BF;
}

header {
    background-color: #212F3D;
    color: #808B96;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
}

nav {
    background-color: #2C3E50;
    padding: 10px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #AAB7B8;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

a:hover {
    color: #D5D8DC;
    font-weight: 600;
    box-shadow: 0px 1px 2px 2px #AAB7B8;
    border-radius: 5px;
    transition: 0.1s;
}

.contenedor {
    display: flex;
    gap: 10px;
    height: 500px;
    align-items: center;
}

@media only screen and (max-width : 900px) {
    .contenedor {
        flex-direction: column;
    }
}

.imagen {
    padding: 50px;
}

img {
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 7px 0px 7px #2C3E50;
}

.presentacion {
    padding: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 19px;
    line-height: 40px;
}

footer {
    background-color: #212F3D;
    color: #808B96;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}